/* Write your CSS here */
/* Write your CSS here */
.footer-container {
  background-color: #cbd5e1;
  padding: 20px;
}
.footer-heading {
  color: #475569;
  font-family: 'Roboto';
  text-align: center;
}
